absl-py==1.4.0
accelerate==0.24.1
aiohttp==3.9.3
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
audioread==3.0.1
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.1.0
blis==0.7.11
catalogue==2.0.10
certifi==2024.2.2
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cohere==4.34
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.4
confection==0.1.4
contourpy==1.1.1
cryptography==42.0.2
cvzone==1.6.1
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.3
dataclasses-json-speakeasy==0.5.11
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.7
distro==1.8.0
dm-tree==0.1.8
effdet==0.4.1
efficientnet==1.0.0
emoji==2.10.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup==1.1.3
executing==2.0.0
facenet-pytorch==2.5.3
fastapi==0.104.1
fastavro==1.8.2
fastjsonschema==2.19.1
filelock==3.12.4
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.43.1
fpdf==1.7.2
fqdn==1.5.1
frozendict==2.3.10
frozenlist==1.4.0
fsspec==2023.9.2
gast==0.5.4
git-filter-repo==2.38.0
gitdb==4.0.11
GitPython==3.1.40
google-ai-generativelanguage==0.1.0
google-api-core==2.13.0
google-auth==2.23.4
google-auth-oauthlib==1.2.0
google-generativeai==0.1.0rc1
google-pasta==0.2.0
googleapis-common-protos==1.61.0
greenlet==3.0.1
grpcio==1.59.3
grpcio-status==1.59.2
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.1
huggingface-hub==0.19.4
humanfriendly==10.0
idna==3.4
image-classifiers==1.0.0
imageio==2.33.1
importlib-metadata==6.8.0
importlib-resources==6.1.1
iopath==0.1.10
ipykernel==6.25.2
ipython==8.16.1
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
keras==3.3.3
Keras-Applications==1.0.8
kiwisolver==1.4.5
kubernetes==28.1.0
langchain==0.0.341
langchain-community==0.0.22
langchain-core==0.1.26
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.1.5
layoutparser==0.3.4
lazy_loader==0.3
libclang==16.0.6
librosa==0.10.1
llvmlite==0.42.0
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.3
mistune==3.0.2
ml-dtypes==0.3.2
mmh3==4.0.1
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multitasking==0.0.11
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.7
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
notebook==7.1.3
notebook_shim==0.2.4
numba==0.59.0
numpy==1.26.0
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.15.1
openai==1.34.0
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
opentelemetry-instrumentation==0.42b0
opentelemetry-instrumentation-asgi==0.42b0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-util-http==0.42b0
opt-einsum==3.3.0
optree==0.11.0
overrides==7.4.0
package-name==0.1
packaging==23.2
pandas==2.1.3
pandocfilters==1.5.1
parso==0.8.3
pdf2image==1.17.0
pdfminer.six==20221105
pdfplumber==0.10.4
peewee==3.17.0
pickleshare==0.7.5
pikepdf==8.12.0
pillow==10.2.0
pillow_heif==0.15.0
platformdirs==3.11.0
pooch==1.8.1
portalocker==2.8.2
posthog==3.0.2
preshed==3.0.9
prometheus_client==0.20.0
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf==4.23.4
psutil==5.9.5
pulsar-client==3.3.0
pure-eval==0.2.2
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser==2.21
pydantic==1.10.14
pydantic_core==2.14.5
pydeck==0.8.0
Pygments==2.16.1
pyGRNN==0.1.2
Pympler==1.0.1
pyparsing==3.1.1
pypdf==4.0.1
PyPDF2==3.0.1
pypdfium2==4.27.0
PyPika==0.48.9
pyreadline3==3.4.1
pyswarm==0.6
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.0
python-iso639==2024.2.7
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.5.1
QtPy==2.4.1
rapidfuzz==3.6.1
referencing==0.31.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.13.1
rsa==4.9
safetensors==0.4.1
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.1
segmentation-models==1.0.1
Send2Trash==1.8.3
sentence-transformers==2.2.2
sentencepiece==0.1.99
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.23
srsly==2.4.8
stack-data==0.6.3
starlette==0.27.0
streamlit==1.25.0
streamlit-chat==0.1.1
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.15.0
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.1
thinc==8.2.3
threadpoolctl==3.2.0
tifffile==2023.12.9
tiktoken==0.5.1
timm==0.9.12
tinycss2==1.3.0
tokenizers==0.15.0
toml==0.10.2
toolz==0.12.0
torch==2.1.0
torchvision==0.16.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.11.2
transformers==4.35.2
typer==0.9.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==4.3.1
unstructured==0.12.4
unstructured-client==0.18.0
unstructured-inference==0.7.23
unstructured.pytesseract==0.3.12
uri-template==1.3.0
urllib3==1.26.18
uvicorn==0.24.0.post1
validators==0.22.0
virtualenv==20.24.5
virtualenvwrapper-win==1.2.7
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.21.0
wcwidth==0.2.8
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==4.0.10
wrapt==1.14.1
yahoo-finance==1.4.0
yarl==1.9.3
yfinance==0.2.33
zipp==3.17.0
